.cpcache
ui/resources/public/js
secrets
secret
.volume
.volumes
target
app.log
build
play.http
.DS_Store
.nrepl-port
sandbox2.clj
/pgdata
base.tar.gz
pg_wal.tar.gz
.lsp
db-sandbox.sql
backend/test/testing/samples/samples.debug
sandbox.clj
.clj-kondo/